#centro {
  width: 600px;
  line-height: 50px;
  text-align:center;

  
  /* pura mágica */
  position: absolute;
  top: 35%; /* posiciona na metade da tela */
  margin-top: -40px; /* e retrocede metade da altura */
  left: 35%; /* posiciona na metade da tela */
  margin-left: -90px; /* e retrocede metade da largura */
}
